/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ringbearer";
  src: url("../../fonts/RINGM___.TTF") format("truetype");
}
html {
  background: #1e1f24;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #fff;
  min-height: 100vh;
  line-height: 1.5;
}

@media (width <= 600px) {
  .navbar {
    font-size: 1.4rem;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 48, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  .navbar ul {
    justify-content: space-around;
    min-width: 100%;
    margin: 2.4rem 0;
  }
  .navbar ul li > a > div {
    gap: 0.5rem;
  }
  .navbar .navbar-icon {
    font-size: 2.5rem;
  }
}
@media (width > 600px) and (width < 840px) {
  .navbar {
    font-size: 1.4rem;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 48, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  .navbar ul {
    justify-content: space-around;
    min-width: 100%;
    margin: 2.4rem 0;
  }
  .navbar ul li > a > div {
    gap: 0.5rem;
  }
  .navbar .navbar-icon {
    font-size: 2.5rem;
  }
}
@media (width >= 840px) {
  .navbar {
    font-size: 1.4rem;
    min-width: 100%;
    top: 0;
    left: 0;
  }
  .navbar ul {
    justify-content: space-evenly;
    gap: 2rem;
    min-width: 100%;
    margin: 2.4rem 0;
  }
  .navbar ul li > a > div {
    gap: 0.5rem;
  }
  .navbar .navbar-icon {
    font-size: 2.5rem;
  }
}
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}

.footer {
  min-width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2b2b30;
}

.character-container {
  background-color: #2b2b30;
  box-sizing: border-box;
  padding: 5.4%;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
}
@media (width <= 600px) {
  .character-container {
    background-color: #1e1f24;
    padding: 0;
  }
}
.character-container .character-grid {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 60%;
  background-color: #3b3b41;
  padding: 2.6%;
  border-radius: 1rem;
}
@media (width < 840px) {
  .character-container .character-grid {
    max-width: 80%;
  }
}
@media (width <= 600px) {
  .character-container .character-grid {
    max-width: 100%;
    background-color: #2b2b30;
  }
}
.character-container .character-grid .character-button {
  font-size: 3rem;
}
.character-container .character-grid a {
  color: #9473e0;
  text-decoration: none;
  transition: 150ms ease;
}
.character-container .character-grid a:hover {
  color: #8368c3;
}
.character-container .character-grid .character {
  display: flex;
  gap: 1rem;
  width: 50%;
}
@media (width <= 600px) {
  .character-container .character-grid .character {
    flex-direction: column;
  }
}
.character-container .character-grid .character h4 {
  font-family: "Ringbearer", sans-serif;
}
@media (width >= 840px) {
  .character-container .character-grid .character h4 {
    font-size: 2.4rem;
  }
}

.filter {
  background-color: #2b2b30;
  box-sizing: border-box;
  padding: 5.4%;
  width: 100%;
  border-radius: 1rem;
}
@media (width <= 600px) {
  .filter {
    background-color: #1e1f24;
    padding: 0;
  }
}
.filter .search-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.filter .search-container input {
  background-color: #3b3b41;
  border: none;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  outline: none;
  color: #fff;
  transition: 150ms ease;
}
@media (width <= 600px) {
  .filter .search-container input {
    background-color: #2b2b30;
  }
}
.filter .search-container input:hover, .filter .search-container input:checked, .filter .search-container input:active, .filter .search-container input:focus {
  background-color: #3e3e4e;
}
.filter .search-container label > i {
  font-size: 1.5rem;
}

#back-icon {
  font-size: 3rem;
  color: white;
  place-self: start;
  box-sizing: border-box;
  padding: 2.6%;
  background-color: #2b2b30;
  border-radius: 1rem;
  transition: 150ms ease;
}
#back-icon:hover {
  background-color: #9473e0;
}

.loading {
  font-size: 3rem;
  animation: 2s infinite rotate linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.specific-character {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 2rem;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  background-color: #2b2b30;
  box-sizing: border-box;
  padding: 5.4%;
  border-radius: 1rem;
}
.specific-character a {
  color: #9473e0;
}

.hero-character {
  margin-top: 2.5rem;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 5rem;
  margin: 5% 0;
}
.hero-character h1 {
  font-size: 5rem;
  font-family: "Ringbearer";
  text-align: center;
  box-sizing: content-box;
}

#back {
  font-size: 3rem;
  color: white;
  place-self: start;
  box-sizing: border-box;
  padding: 2.6%;
  background-color: #2b2b30;
  border-radius: 1rem;
  transition: 150ms ease;
}
#back:hover {
  background-color: #9473e0;
}

.container {
  display: grid;
  place-items: center;
  gap: 2.4rem;
}
@media (width < 600px) {
  .container {
    margin: 1.6rem;
    border-radius: 0.5rem;
  }
}
@media (width >= 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    margin: 5.4%;
    border-radius: 1rem;
  }
}

.card {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  background-color: #2b2b30;
  padding: 2.4rem;
  font-size: 1.6rem;
}
.card div {
  display: grid;
  gap: 1.5rem;
}
.card div h1 {
  font-size: 2.4rem;
}
@media (width > 840px) {
  .card div h1 {
    max-width: 60%;
  }
}
@media (width > 840px) {
  .card div p {
    max-width: 60%;
  }
}

.animate-before {
  transform: translateY(-100vh);
  opacity: 0;
  filter: blur(2px);
  transition: all 1s ease;
}

.animate-after {
  opacity: 1;
  transform: translateY(0vh);
  filter: blur(0px);
}

.form {
  width: -moz-fit-content;
  width: fit-content;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form form input {
  width: 100%;
  border: none;
  border-radius: 1rem;
  height: 3rem;
  background-color: #3b3b41;
  outline: none;
  color: white;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1.6rem;
  transition: 150ms ease;
}
.form form input:hover, .form form input:active, .form form input:checked, .form form input:focus {
  background-color: #3e3e4e;
}
.form form #name-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.form form #name-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.form form #email-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}
.form form #email-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form form #email-container button {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #9473e0;
  color: white;
  font-size: 1.6rem;
  margin-top: 1rem;
  transition: 150ms ease;
}
.form form #email-container button:hover {
  background-color: #8368c3;
}
.form form #email-container button:disabled {
  background-color: #3d374a;
  color: gray;
}
.form h2 {
  font-size: 2.4rem;
  text-align: center;
}
.form hr {
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  margin: 1rem 0;
}
.form .loading-form {
  font-size: 2rem;
  animation: 2s infinite rotate linear;
  width: 2rem;
}
.form #submit-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.form #submit-button .hide {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.topic-animation:nth-child(2) {
  transition-delay: 200ms;
}

.topic-animation:nth-child(3) {
  transition-delay: 400ms;
}

.obs-hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 1s ease;
}

.obs-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.topics-container {
  gap: 2.4rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.topics-container a {
  width: 100%;
  color: white;
  text-decoration: none;
}
.topics-container .topic {
  gap: 1rem;
  min-height: 20rem;
  min-width: 100%;
  background-color: #2b2b30;
  border-radius: 1rem;
  box-sizing: border-box;
  transition: 150ms ease;
  font-size: 2.4rem;
}
.topics-container .topic i {
  font-size: 1.5rem;
}
.topics-container .topic:hover {
  box-shadow: 0px 0px 5px 0px #695b8b;
  background-color: #372f43;
}

@media (width < 600px) {
  .topics-container {
    flex-direction: column;
  }
  .topics-container .topic {
    min-height: 10rem;
  }
}/*# sourceMappingURL=main.css.map */