/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ringbearer";
  src: url("../../fonts/RINGM___.TTF") format("truetype");
}
html {
  background: #1e1f24;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #fff;
  min-height: 100vh;
}

body {
  min-height: 100%;
  margin: 0 2.4rem;
  line-height: 1.5;
}

@media (width <= 600px) {
  .navbar {
    font-size: 1.4rem;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 48, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  .navbar ul {
    justify-content: space-around;
    min-width: 100%;
    margin: 2.4rem 0;
  }
  .navbar ul li > a > div {
    gap: 0.5rem;
  }
  .navbar .navbar-icon {
    font-size: 2.5rem;
  }
}
@media (width > 600px) and (width < 840px) {
  .navbar {
    font-size: 1.4rem;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 48, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  .navbar ul {
    justify-content: space-around;
    min-width: 100%;
    margin: 2.4rem 0;
  }
  .navbar ul li > a > div {
    gap: 0.5rem;
  }
  .navbar .navbar-icon {
    font-size: 2.5rem;
  }
}
@media (width >= 840px) {
  .navbar {
    font-size: 1.4rem;
    min-width: 100%;
    top: 0;
    left: 0;
  }
  .navbar ul {
    justify-content: space-evenly;
    gap: 2rem;
    min-width: 100%;
    margin: 2.4rem 0;
  }
  .navbar ul li > a > div {
    gap: 0.5rem;
  }
  .navbar .navbar-icon {
    font-size: 2.5rem;
  }
}
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}

.footer {
  min-width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2b2b30;
}

@media (width <= 600px) {
  .container {
    margin-top: 4rem;
    gap: 5rem;
    align-items: center;
  }
  .container p {
    font-size: 1.6rem;
  }
  .hero {
    margin-top: 2.5rem;
  }
  .hero h1 {
    font-size: 3rem;
    font-family: "Ringbearer";
    text-align: center;
  }
  .topics-container {
    gap: 3rem;
    min-width: 100%;
  }
  .topics-container .topic {
    gap: 1rem;
    min-height: 4.5rem;
    background-color: #2b2b30;
    border-radius: 1rem;
    box-sizing: border-box;
    transition: 150ms ease;
  }
  .topics-container .topic i {
    font-size: 1.5rem;
  }
  .topic:hover {
    box-shadow: 0px 0px 5px 0px #695b8b;
    background-color: #372f43;
  }
}
@media (width > 600px) and (width < 840px) {
  .container {
    gap: 5rem;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
  }
  .container p {
    font-size: 1.6rem;
  }
  .hero {
    margin-top: 2.5rem;
  }
  .hero h1 {
    font-size: 3rem;
    font-family: "Ringbearer";
    text-align: center;
  }
  .topics-container {
    gap: 3rem;
    min-width: 100%;
  }
  .topics-container .topic {
    gap: 1rem;
    min-height: 4.5rem;
    min-width: 100%;
    background-color: #2b2b30;
    border-radius: 1rem;
    box-sizing: border-box;
    transition: 150ms ease;
  }
  .topics-container .topic i {
    font-size: 1.5rem;
  }
  .topic:hover {
    box-shadow: 0px 0px 5px 0px #695b8b;
    background-color: #372f43;
  }
}
@media (width >= 840px) {
  .container {
    gap: 5rem;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 4rem;
  }
  .container p {
    font-size: 1.6rem;
  }
  .hero {
    margin-top: 2.5rem;
  }
  .hero h1 {
    font-size: 3rem;
    font-family: "Ringbearer";
    text-align: center;
  }
  .topics-container {
    gap: 2.5%;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .topics-container a {
    width: 100%;
  }
  .topics-container .topic {
    gap: 1rem;
    min-height: 20rem;
    min-width: 100%;
    background-color: #2b2b30;
    border-radius: 1rem;
    box-sizing: border-box;
    transition: 150ms ease;
  }
  .topics-container .topic i {
    font-size: 1.5rem;
  }
  .topic:hover {
    box-shadow: 0px 0px 5px 0px #695b8b;
    background-color: #372f43;
  }
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e1e1e1;
}

@media (width <= 600px) {
  .character {
    min-width: 100%;
    background-color: #2b2b30;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
  }
  .character h4 {
    font-family: "Ringbearer", sans-serif;
    font-size: 2.4rem;
  }
  .character a {
    color: #9473e0;
    font-size: 1.2rem;
  }
  .character div {
    gap: 0.5rem;
    align-items: center;
  }
  .character-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    gap: 2.4rem;
    height: 100%;
  }
  .character-grid a {
    height: 100%;
    width: 100%;
  }
  .character-button {
    border: none;
    min-width: 100%;
    margin: 1rem 0;
    border-radius: 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #2b2b30;
    font-size: 3rem;
    height: -moz-fit-content;
    height: fit-content;
    width: 5rem;
    padding: 1rem;
  }
  .character-button:hover, .character-button :active, .character-button :checked, .character-button :focus {
    background-color: #372f43;
    box-shadow: 0px 0px 5px 0px #695b8b;
  }
  .character-container {
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 12rem;
  }
  .filter {
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2.4rem;
  }
  .filter div > label {
    font-size: 1.6rem;
  }
  .search-container {
    align-items: center;
    max-width: 100%;
    gap: 2rem;
    justify-content: center;
  }
  .search-container input {
    background-color: #2b2b30;
    border: none;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    max-width: 100%;
  }
  .search-container input:hover, .search-container input :active, .search-container input :focus, .search-container input :checked {
    background-color: #372f43;
    box-shadow: 0px 0px 5px 0px #695b8b;
  }
  hr {
    border: none;
    border-top: 1px solid gray;
    margin-top: 2.4rem;
  }
}
.loading {
  font-size: 4rem;
  animation: 3s infinite rotate;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (width > 600px) and (width < 840px) {
  .character {
    min-width: 100%;
    background-color: #2b2b30;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
  }
  .character h4 {
    font-family: "Ringbearer", sans-serif;
    font-size: 2.4rem;
  }
  .character a {
    color: #9473e0;
    font-size: 1.2rem;
  }
  .character div {
    gap: 0.5rem;
    align-items: center;
  }
  .character-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    gap: 2.4rem;
    height: 100%;
  }
  .character-grid a {
    height: 100%;
    width: 100%;
  }
  .character-button {
    border: none;
    min-width: 100%;
    margin: 1rem 0;
    border-radius: 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #2b2b30;
    font-size: 3rem;
    height: -moz-fit-content;
    height: fit-content;
    width: 5rem;
    padding: 1rem;
  }
  .character-button:hover, .character-button :active, .character-button :checked, .character-button :focus {
    background-color: #372f43;
    box-shadow: 0px 0px 5px 0px #695b8b;
  }
  .character-container {
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 12rem;
  }
  .filter {
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2.4rem;
  }
  .filter div > label {
    font-size: 1.6rem;
  }
  .search-container {
    align-items: center;
    max-width: 100%;
    gap: 2rem;
    justify-content: center;
  }
  .search-container input {
    background-color: #2b2b30;
    border: none;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    max-width: 100%;
  }
  .search-container input:hover, .search-container input :active, .search-container input :focus, .search-container input :checked {
    background-color: #372f43;
    box-shadow: 0px 0px 5px 0px #695b8b;
  }
  hr {
    border: none;
    border-top: 1px solid gray;
    margin-top: 2.4rem;
  }
}
.loading {
  font-size: 4rem;
  animation: 3s infinite rotate;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (width >= 840px) {
  .character {
    min-width: 100%;
    background-color: #2b2b30;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
  }
  .character h4 {
    font-family: "Ringbearer", sans-serif;
    font-size: 2.4rem;
  }
  .character a {
    color: #9473e0;
    font-size: 1.2rem;
  }
  .character div {
    gap: 0.5rem;
    align-items: center;
  }
  .character-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .character-grid a {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .character-button {
    border: none;
    height: -moz-fit-content;
    height: fit-content;
    width: 5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #2b2b30;
    font-size: 3rem;
    padding: 1rem;
  }
  .character-button:hover, .character-button :active, .character-button :checked, .character-button :focus {
    background-color: #372f43;
    box-shadow: 0px 0px 5px 0px #695b8b;
  }
  .character-container {
    width: 100%;
    min-height: 100%;
    margin-bottom: 12rem;
  }
  .filter {
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2.4rem;
    align-items: flex-start;
  }
  .filter div > label {
    font-size: 1.6rem;
  }
  .search-container {
    align-items: center;
    max-width: 100%;
    gap: 2rem;
    justify-content: center;
  }
  .search-container input {
    background-color: #2b2b30;
    border: none;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    max-width: 100%;
  }
  .search-container input:hover, .search-container input :active, .search-container input :focus, .search-container input :checked {
    background-color: #372f43;
    box-shadow: 0px 0px 5px 0px #695b8b;
  }
  hr {
    border: none;
    border-top: 1px solid gray;
    margin-top: 2.4rem;
  }
}
.loading {
  font-size: 4rem;
  animation: 3s infinite rotate;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.specific-character {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.specific-character a {
  color: #9473e0;
}

#back {
  background-color: #2b2b30;
  border: none;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 30%;
  max-width: 40%;
  font-size: 1.6rem;
}
#back:hover, #back :active, #back :checked, #back :focus {
  background-color: #372f43;
  box-shadow: 0px 0px 5px 0px #695b8b;
}/*# sourceMappingURL=main.css.map */