.character-container {
    background-color: $bg-second-color;
    box-sizing: border-box;
    padding: $padding-lg;
    width: 100%;
    border-radius: $border-radius-lg;
    display: flex;
    flex-direction: column;
    gap: $margin-sm;
    font-size: $text-size-sm;

    @media (width <= 600px) {
        background-color: $bg-main-color;
        padding: 0;
    }

    .character-grid {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
        max-width: 60%;
        background-color: $bg-third-color;
        padding: $padding-sm;
        border-radius: $border-radius-lg;

        @media (width < 840px) {
            max-width: 80%;
        }

        @media (width <= 600px) {
            max-width: 100%;
            background-color: $bg-second-color;
        }

        .character-button {
            font-size: 3rem;
        }

        a {
            color: $button-color;
            text-decoration: none;
            transition: 150ms ease;

            &:hover {
                color: $button-hover;
            }
        }

        .character {
            display: flex;
            gap: 1rem;
            width: 50%;

            @media (width <= 600px) {
                flex-direction: column;
            }

            h4 {
                font-family: "Ringbearer", sans-serif;

                @media (width >= 840px) {
                    font-size: $text-size-lg;
                }
            }
        }
    }
}

.filter {
    background-color: $bg-second-color;
    box-sizing: border-box;
    padding: $padding-lg;
    width: 100%;
    border-radius: $border-radius-lg;

    @media (width <= 600px) {
        background-color: $bg-main-color;
        padding: 0;
    }

    .search-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        input {
            background-color: $bg-third-color;
            border: none;
            box-sizing: border-box;
            padding: 2rem;
            border-radius: $border-radius-lg;
            font-size: $text-size-sm;
            outline: none;
            color: $text-color;
            transition: 150ms ease;

            @media (width <= 600px) {
                background-color: $bg-second-color;
            }

            &:hover,&:checked,&:active,&:focus {
                background-color: #3e3e4e;
            }
        }

        label > i {
            font-size: 1.5rem;
        }
    }
}

#back-icon {
    font-size: 3rem;
    color: white;
    place-self: start;
    box-sizing: border-box;
    padding: $padding-sm;
    background-color: $bg-second-color;
    border-radius: $border-radius-lg;
    transition: 150ms ease;

    &:hover {
        background-color: $button-color;
    }
}

.loading {
        font-size: 3rem;
        animation: 2s infinite rotate linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}