.character-container {
    background-color: $bg-second-color;
    box-sizing: border-box;
    padding: $padding-lg;
    width: 100%;
    border-radius: $border-radius-lg;
    display: flex;
    flex-direction: column;
    gap: $margin-sm;
    font-size: $text-size-sm;

    @media (max-width: 600px) {
        background-color: $bg-main-color;
        padding: 0;
    }

    .character-grid {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
        max-width: 60%;
        background-color: $bg-third-color;
        padding: $padding-sm;
        border-radius: $border-radius-lg;

        @media (min-width: 840px) {
            max-width: 80%;
        }

        @media (max-width: 600px) {
            max-width: 100%;
            background-color: $bg-second-color;
        }

        .character-button {
            font-size: 3rem;
        }

        a {
            color: $button-color;
            text-decoration: none;
            transition: 150ms ease;

            &:hover {
                color: $button-hover;
            }
        }

        .character {
            display: flex;
            gap: 1rem;
            width: 50%;

            @media (max-width: 600px) {
                flex-direction: column;
            }

            h4 {
                font-family: "Ringbearer", sans-serif;

                @media (min-width: 840px) {
                    font-size: $text-size-lg;
                }
            }
        }
    }
}

.filter {
    background-color: $bg-second-color;
    box-sizing: border-box;
    padding: 2rem 5.4%;
    width: 100%;
    border-radius: $border-radius-lg;
    display: flex;
    gap: 5rem;
    align-items: center;
    font-size: $text-size-sm;

    @media (max-width: 600px) {
        background-color: $bg-main-color;
        padding: 0;
    }

    @media (max-width: 840px) {
        flex-direction: column;
        gap: 2rem;
    }

    .search-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        input {
            background-color: $bg-third-color;
            border: none;
            box-sizing: border-box;
            padding: 2rem;
            border-radius: $border-radius-lg;
            font-size: $text-size-sm;
            outline: none;
            color: $text-color;
            transition: 150ms ease;

            @media (max-width: 600px) {
                background-color: $bg-second-color;
            }

            &:hover,&:checked,&:active,&:focus {
                background-color: #3e3e4e;
            }
        }

        label > i {
            font-size: 1.5rem;
        }
    }

    .race-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: $text-size-sm;
        box-sizing: border-box;

        div {
            display: flex;
            align-items: center;
            gap: 1rem;
            box-sizing: border-box;
            padding: $padding-sm;
            border-radius: $border-radius-lg;
            transition: 150ms ease;
            
            &:hover {
                background-color: #5c5369;
            }
        }

        input {
            appearance: none;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $button-color;
            border-radius: 50%;
            margin: 0;

            &:checked {
                outline: 1px solid $button-color;
                outline-offset: 3px;
            }
        }

        details {
            background-color: $bg-third-color;
            box-sizing: border-box;
            padding: 2rem;
            border-radius: $border-radius-lg;

            &:hover,&:checked,&:active,&:focus {
                background-color: #3e3e4e;
            }

            div {
                margin-top: 0.5rem;
            }
        }
    }

    button {
        border: none;
        box-sizing: border-box;
        border-radius: $border-radius-lg;
        background-color: $button-color;
        color: white;
        font-size: $text-size-sm;
        padding: 2rem;
        transition: 150ms ease;
        height: 50%;

        &:hover {
            background-color: $button-hover;
        }
    }
}

#back-icon {
    font-size: 3rem;
    color: white;
    place-self: start;
    box-sizing: border-box;
    padding: 2rem;
    background-color: $bg-second-color;
    border-radius: $border-radius-lg;
    transition: 150ms ease;

    &:hover {
        background-color: $button-color;
    }
}

.loading {
        font-size: 3rem;
        animation: 2s infinite rotate linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}