.container {
    display: grid;
    place-items: center;
    gap: $margin-lg;

    @media (max-width: 600px) {
        margin: $margin-sm;
        border-radius: $border-radius-sm;
    }
    
    @media (min-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        margin: $padding-lg;
        border-radius: $border-radius-lg;
    }
}