.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}