html {
    background: $bg-main-color;
    font-size: $font-size;
    font-family: $font-family;
    color: $text-color;
    min-height: 100vh;
}

body {
    min-height: 100%;
    margin: 0 $margin-lg;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #e1e1e1;
}