@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('../../fonts/RINGM___.TTF');

$bg-main-color: #171717;
$bg-second-color: #1e1e1e;
$text-color: #fff;
$font-size: 62.5%;
$font-family: "Poppins", sans-serif;
$margin-lg: 2.4rem;
$margin-sm: 1.6rem;